<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Contact Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<!--<div id="user_info">-->
    <!--<div id="dp"></div>-->
    <!--<div id="user_name"></div>-->
    <!--<div id="user_email"></div>-->
<!--</div>-->
<!--<div id="header">-->
    <!--<h1> Google Contact Manager </h1>   <a href="/logout">-->
    <!--<div id="logout" class="link"><h3>Logout</h3></div>-->
<!--</a>-->
<!--</div>-->

<table id = 'contact_table'>
  <thead>
    <tr>
      <th> Name </th>
      <th> Number </th>
    <tr>
  </thead>
  <tbody id='contact_list'>
  </tbody>
</table>
</body>
</html>
