<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Contact Manager</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/index.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <button onClick="window.location='/logout'" class="mdl-button mdl-js-button mdl-button--raised">
     Logout
  </button>
  {% if (import_status == 'not_imported') or (import_status == 'failed') %}
  <button id="importButton" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Import Contacts
  </button>
  {% elif (import_status == 'imported') %}
  <input type="hidden" id="loadContacts"/>
  {% else %}
  <input type="hidden" id="importingContacts"/>
  {%endif%}

</body>
</html>
